body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 7.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

.radius {
    border-radius: 100%;
}


.top-container {
    background-color: cornflowerblue;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.programming {
    float: left;
    margin-right: 30px;
}

.icon {
    float: right;
    margin-left: 30px;
}

.footer-link {
    color: #11999E
} 0000

